body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  background-color: #eee;
}

.match-box {
  border: 1px solid #111;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 10px;
}

.game-week-text {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.transactions-text {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 5px;
}

.transactions-check {
  color: darkgreen;
}

.transactions-x {
  color: darkred;
}

.transaction-in {
  color: darkgreen;
}

.transaction-out {
  color: darkred;
}

.transactions-team-name {
  word-break: break-word;
  font-size: 20px;
  font-weight: bold;
}

.transactions-lower-row {
  font-size: 12px;
}

.transactions-upper-row {
  font-size: 14px;
  font-weight: bold;
}

.transactions-container {
  width: 100%;
  margin-bottom: 15px;
}

.transaction-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.transactions-small-padding {
  margin-left: 5px;
  margin-right: 5px;
}

.league-row {
  padding-top: 5px;
  padding-bottom: 5px;
}

.league-row-bottom-border {
  border-bottom: 2px solid #aaa;
}

.standings-team-name {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.standings-player-name {
  margin-bottom: 5px;
  font-size: 14px;
}

.standings-header-row {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 3px solid #111;
}

.standings-rank-text {
  font-size: 18px;
  font-weight: bold;
}

.standings-box {
  margin-bottom: 15px;
}

.possible-promotion {
  background-color: #61E984;
}

.possible-promotion-box {
  width: 15px;
  height: 10px;
  background-color: #61E984;
  display: inline-block;
  border-radius: 30%;
  margin-right: 5px;
}

.promotion {
  background-color: #5ac18e;
}

.promotion-box {
  width: 15px;
  height: 10px;
  background-color: #5ac18e;
  display: inline-block;
  border-radius: 30%;
  margin-right: 5px;
}

.possible-relegation {
  background-color: #ffc0cb;
}

.possible-relegation-box {
  width: 15px;
  height: 10px;
  background-color: #ffc0cb;
  display: inline-block;
  border-radius: 30%;
  margin-right: 5px;
}

.relegation {
  background-color: #FA8072;
}

.relegation-box {
  width: 15px;
  height: 10px;
  background-color: #FA8072;
  display: inline-block;
  border-radius: 30%;
  margin-right: 5px;
}

.small-margin-right {
  margin-right: 5px;
}

.small-margin-bottom {
  margin-bottom: 5px;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.match-team-text {
  font-size: 20px;
  margin-bottom: 5px;
  color: black;
}

.match-score-text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

a :hover {
  text-decoration: underline;
  text-decoration-color: black;
}

.container-selector {
  margin-bottom: 10px;
}

.team-image {
  width : 28px;
}

.spinner {
  width: 49px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
  margin-top: 48px;
}

.form-icon {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid darkgray;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-weight: bold;
  padding-top: 3px;
  margin-right: 1px;
  margin-left: 1px;
  display: inline-block;
  font-size: 12px;
}

.form-draw {
  background-color:gray;
}

.form-win {
  background-color: green;
}

.form-loss {
  background-color: red;
}

.gameweek-dropdown {
  display: inline-flex;
  margin-left: 10px;
  margin-right: 5px;
}

.fixture-transfer-selector {
  margin-left: 5px;
}

.bold {
  font-weight: bold;
}